<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findopenit.iosdialogmodule">

    <application>
        <activity
            android:name="com.findopenit.iosdialogmodule.IOSDialogView"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeIosDialog"></activity>
    </application>

</manifest>
